TEST_MODE=false

DISCORD_TOKEN=
DISCORD_TOKEN_TEST=
TEST_GUILD_ID=

DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_TEST_NAME=
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_SSL=false

HENRIK_VALO_KEY=

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
