# Environnements virtuels
venv/
env/
.env

# Fichiers de logs
logs/
*.log

# Fichiers Python compilés
__pycache__/
*.pyc

# Fichiers de données
data/*.json
backup.dump

restore_database.py
restore_database2.py

# IDEs
.vscode/
*.swp

# Discloud
discloud.config

testss.py

internal_auth.py