[Unit]
Description=Run Kayo PostgreSQL backup daily

[Timer]
OnCalendar=*-*-* 03:15:00
RandomizedDelaySec=15m
Persistent=true
Unit=kayo-postgres-backup.service

[Install]
WantedBy=timers.target
