[Unit]
Description=Kayo PostgreSQL backup
Wants=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/kayo-postgres-backup.sh
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
